# Flask Config
FLASK_APP=tab_view
SECRET_KEY=secret_password

# Database
# SQLite:
DATABASE_URL=sqlite:///tab_view.DATABASE_URL
# MySQL
# DATABASE_URL=mysql+pymysql://user:password@db_host:3306/db_name

# Rate Limiting (Flask-Limiter)
# Default RAM (memory://)
RATELIMIT_STORAGE_URI=memory://
# Redis
# RATELIMIT_STORAGE_URI=redis://redis_host:6379/0
