# Flask Config
FLASK_APP=tab_view
SECRET_KEY=secret_password

# Database
DATABASE_URL=mysql+pymysql://tab_view:tab_view@db/tab_view
MYSQL_PASSWORD=tab_view
MYSQL_ROOT_PASSWORD=rootpass

# Rate Limiting (Flask-Limiter)
# Default RAM (memory://)
# RATELIMIT_STORAGE_URI=memory://
# Redis
RATELIMIT_STORAGE_URI=redis://redis:6379/0
