.vscode/
.venv/
.env
.flaskenv
.coverage
.ruff_cache/
__pycache__/
.pytest_cache/
htmlcov/
*.pyc
logs/
tab_view/static/img/*
!tab_view/static/img/.gitkeep
tab_view/static/uploads/*
!tab_view/static/uploads/.gitkeep
