{% from 'layout/macros.html' import show_flash_message, show_all_flashed_messages %}


<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.min.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-5.3.8-dist/css/bootstrap.min.css') }}">

    <!-- Flatpickr -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/flatpickr/flatpickr.min.css') }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- JS Init -->
    <script src="{{ url_for('static', filename='js/theme-init.js') }}"></script>
</head>
<body>
    <div class="flash-overlay">
        {{ show_all_flashed_messages() }}
    </div>

    {% include 'layout/nav.html' %}

    <main>
        {% block content %}

        {% endblock %}
    </main>

    {% include 'layout/footer.html' %}



    {% block scripts %}

    {% endblock %}

    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='vendor/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js') }}"></script>

    <!-- FullCalendar.io -->
    <script src="{{ url_for('static', filename='vendor/fullcalendar/index.global.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/fullcalendar/bootstrap5.global.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/fullcalendar/locales/pl.global.min.js') }}"></script>

    <!-- Flatpickr -->
    <script src="{{ url_for('static', filename='vendor/flatpickr/flatpickr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/flatpickr/l10n/pl.js') }}"></script>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
