<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary top-0 shadow-sm z-index-1000">
    <div class="container">
        <a class="navbar-brand text-primary d-flex align-items-center" href="{{ url_for('dashboard.index') }}">
            <img src="{{ url_for('static', filename='img/logo_black.png') }}"
                 alt="Logo"
                 class="logo-light"
                 height="50"
                 onerror="this.style.display='none'; document.getElementById('brand-text').style.display='block';">

            <img src="{{ url_for('static', filename='img/logo_white.png') }}"
                 alt="Logo"
                 class="logo-dark"
                 height="50"
                 onerror="this.style.display='none'; document.getElementById('brand-text').style.display='block';">

            <span id="brand-text" style="display: none;">TabView</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}

                <a href="{{ url_for('dashboard.index') }}"
                   class="nav-link {% if request.blueprint == 'dashboard' %}active{% endif %}">Dashboard</a>

                <a href="{{ url_for('devices.get_all_devices') }}"
                   class="nav-link {% if request.blueprint == 'devices' %}active{% endif %}">Devices</a>

                <a href="{{ url_for('media.get_all_media') }}"
                   class="nav-link {% if request.blueprint == 'media' %}active{% endif %}">Media</a>

                {% if current_user.is_admin %}
                <a href="{{ url_for('users.get_all_users') }}"
                   class="nav-link {% if request.blueprint == 'users' %}active{% endif %}">Users</a>

                <a href="{{ url_for('logs.view_logs') }}"
                    class="nav-link {% if request.blueprint == 'logs' %}active{% endif %}">Logs</a>

                <a href="{{ url_for('settings.settings_view') }}"
                   class="nav-link {% if request.blueprint == 'settings' %}active{% endif %}"><i class="bi bi-gear"></i></a>
                {% endif %}

                {% endif %}

                <button class="nav-link btn btn-link mx-0" id="theme-toggle" title="Toggle theme">
                    <i class="bi bi-moon-stars-fill" id="theme-icon"></i>
                </button>

                {% if current_user.is_authenticated %}
                <a class="nav-link" href="{{ url_for('auth.signout') }}">
                    <i class="bi bi-box-arrow-right text-danger"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
