<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display {{ device.name }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-5.3.8-dist/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main class="display-menu"></main>

    {% include 'layout/clock.html' %}

    <div id="weather-widget-left" class="position-fixed start-0 top-50 translate-middle-y z-3 d-none"></div>

    <div id="weather-widget-right" class="position-fixed end-0 z-3 d-none" style="top: 25vh;"></div>

    <script>
        window.DEVICE_API_URL = "{{ url_for('devices.api_device_state', device_url=device.device_url) }}";
    </script>

    <script src="{{ url_for('static', filename='vendor/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/clock.js') }}"></script>

    <script src="{{ url_for('static', filename='js/display.js') }}"></script>
</body>
</html>
